<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=N, initial-scale=1.0">
    <title>Box</title>
</head>
<style>
  body{
      margin:0px;
  }
 .box1{
       margin:10px 20px 30px 40px;
       background-color:#345B63 ;
       width:20px;
       height:20px;
       padding:20px;
       border: 2px solid black;
    }
 .box2{
       margin:10px;
       background-color:#345B63 ;
       width:20px;
       height:20px;
       padding:20px;
       border:2px solid black;
    }   

</style>
<body>
    <div class="box1"></div>
    <div class="box2"></div>
    
</body>
</html>