<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Init Session</title>
</head>


  <body>
    <header class="header">
        <div>
            <img class="header__logo" src="../src/logo-platzi-video-BW2.png" alt="logo">
        </div>
    </header>
    <section class="login">
        <section class="login__container">
           <h2>Start Session</h2>
           <form class="login__container--form">
               <input class="input" type="text" placeholder="e-mail">
               <input class="input" type="password" placeholder="password">
               <button class="button">Start Session</button>
               <div class= "login__container--remember-me">
                   <label>
                       <input type="checkbox" name="" id="cbox1" value="checkbox">Remember me
                   </label>
                   <a href="/">I forget my password</a> 
               </div>
          </form>
          <section class="login__container--social-media">
                 <div><img src="../img/google-icon.webp" alt="google">Start Session With Google</div>
                 <div><img src="../img/twitter-icon.webp" alt="twitter">Start Session With Twitter</div>
          </section>
          <p class="login__container--register">Don't have account <a href="">Register</a></p>
        </section>
    </section>
    <footer class="footer">
       <a href="/">Terms & Conditions</a>
       <a href="/">Privacy Statement</a>
       <a href="/">Help Center</a>
    </footer>
    
  </body>
</html>