<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="./stylex.css">
</head>
<body>
    <header class="header">
        <div class="header__container">
            <img class="header__container--logo" src="../src/logo-platzi-video-BW2.png" alt="logo">
        </div>      
            <div class="header__login--profile">
                <img src="../img/user-interface.png" alt="..">
             </div>
    
    </header>
    <section class="section">
       <div class="section__container">
         <h2 class="section__container--text">What do you want to watch today?</h2>
         <input class="section__container--input" type="text" placeholder="Search..."/>
      </div> 
    </section>
    <footer class="footer">
        <a href="/">Terms & Conditions</a>
        <a href="/">Privacy Statement</a>
        <a href="/">Help Center</a>
    </footer>
</body>
</html>